<header class="c-header">
	<div class="container">
		<div class="c-header__main">
			<div class="c-header__items row">
				<div class="col-6">
					<div class="head-logo">
						<a asp-action="index" asp-controller="Home">
							<img src="/images/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 text-sm-right">
					<div class="header__points row">
						<div class="header__point col-auto d-none d-md-block">
							<a href="javascript:;" data-popup-toggle="basket">
								<svg class="header__btn-icon">
									<use href="#cart"></use>
								</svg>
							</a>
						</div>
						<div class="header__point col-auto d-none d-md-block">
							<a class="header__btn" data-popup-toggle="auth">
								<svg class="header__btn-icon">
									<use href="#user"></use>
								</svg>
							</a>

							<div class="header-popup col-5" data-popup="basket">
							</div>
							<a asp-action="_UserPartial" asp-controller="User">
								@await Html.PartialAsync("_LoginPartial")
							</a>
							
							</div>

						<div class="header__point col-auto">
							<a href="#">
								<svg class="header__btn-icon">
									<use href="#menu"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</header>
