@using Microsoft.AspNetCore.Identity;
@using PizzaExpress.Models;
@inject SignInManager<User> SignInManager
<header class="c-header">
	<div class="container">
		<div class="c-header__main">
			<div class="c-header__items row">
				<div class="col-6">
					<div class="head-logo">
						<a asp-action="index" asp-controller="Home">
							<img src="/images/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 text-sm-right">
					<div class="header__points row">
						<div class="header__point col-auto d-none d-md-block">
							<a href="javascript:;" data-popup-toggle="basket" data-bs-toggle="modal" data-bs-target="#authModal1">
								<svg class="header__btn-icon">
									<use href="#cart"></use>
								</svg>
							</a>
							<div class="modal fade" id="authModal1" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-xl">
									<div class="modal-content">

										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Корзина</h1>
											<a >Очистить корзину</a>
										</div>
										<div class="modal-body ">
                                            <div>

											</div>
                                            <div class="">
												
												<div class="d-flex justify-content-between">
													<div>
														<p>Доставка</p>
														<p>Итого</p>
													</div>
													<div>
														<p>Бесплатно</p>
														<p> Руб.</p>

													</div>
												</div>
												
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="header__point col-auto d-none d-md-block">
							@if (SignInManager.IsSignedIn(User))
							{
								<a class="header__btn" data-bs-toggle="modal" data-bs-target="#authModal23">
									<svg class="header__btn-icon">
										<use href="#user"></use>
										
									</svg>
									
								</a>
								<div class="modal fade" id="authModal23" tabindex="-1" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">Авторизация</h1>
											</div>
											<div class="modal-body">
												@await Html.PartialAsync("~/Views/Users/_LoginPartial.cshtml")

											</div>
										</div>
									</div>
								</div>
							}
							else
							{
								<a class="header__btn" data-bs-toggle="modal" data-bs-target="#authModal22">
									<svg class="header__btn-icon">
										<use href="#user"></use>
									</svg>
									
								</a>
								<div class="modal fade" id="authModal22" tabindex="-1" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">

											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">Константин</h1>
											</div>
											<div class="modal-body">
                                                <div class="row">
													<a class="text-decoration-none text-dark mb-1" asp-action="Profile" asp-controller="Home">
                                                    
														Личные Данные
													</a>
													<a class="text-decoration-none text-dark mb-3" asp-action="Orders" asp-controller="Home">
														Мои заказы
													</a>
													<form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
														<button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
													</form>
												</div>
												
												

											</div>
										</div>
									</div>
								</div>
							}


							<div class="header-popup col-5" data-popup="basket">
							</div>
							<div class="header-popup col-5" data-popup="auth">
							</div>
							
							</div>

						<div class="header__point col-auto">
							<a href="#">
								<svg class="header__btn-icon">
									<use href="#menu"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</header>
