
/****************************************************************************/
/* COLORS */
/****************************************************************************/

$color-primary: #fff;
$color-secondary: #000;
$color-text: #000;


/****************************************************************************/
/* FONTS */
/****************************************************************************/

$font-primary: Unbounded, sans-serif;


/****************************************************************************/
/* BREAKPOINTS */
/****************************************************************************/

$bp-xs: 320px;
$bp-sm: 440px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1366px;

$grid-breakpoints: (
  xs: 0,
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl
);

$border-radius_primary: 8px;
$border-radius_secondary: 4px;

$grid-gutter-width: 20px !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
);

$spacers: (
	0: 0,
	1: 10px,
	2: 20px,
	3: 30px,
	4: 40px,
	5: 50px
);
