<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PizzaExpress.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PizzaExpress</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="c-footer">
        <div class="container">
            <div class="row">
                <div class="c-footer__logo col-12 col-lg-2">
                    <div class="foot-logo">
                        <a href="#">
                            <img src="images\logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="c-footer__nav col-12 col-lg-6">
                    <div class="row">
                        <div class="col-6">
                            <ul class="bottom-menu">
                                <li class="bottom-menu__heading">Компания</li>
                                <li class="bottom-menu__item">
                                    <a href="about" class="c-btn c-btn_style_default bottom-menu__link">О компании</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="c-btn c-btn_style_default bottom-menu__link">Франшиза</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="c-btn c-btn_style_default bottom-menu__link">Наши рестораны</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="c-btn c-btn_style_default bottom-menu__link">Сотрудничество</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="c-btn c-btn_style_default bottom-menu__link">Условия доставки</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="c-btn c-btn_style_default bottom-menu__link">Контакты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="bottom-menu">
                                <li class="bottom-menu__heading">Меню</li>
                                <li class="bottom-menu__item">
                                    <a href="#" class=" bottom-menu__link">Пицца</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="bottom-menu__link">Закуски</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="bottom-menu__link">Соусы</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="bottom-menu__link">Напитки</a>
                                </li>
                                <li class="bottom-menu__item">
                                    <a href="#" class="bottom-menu__link">Сладкое</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="c-footer__social-and-install col-12 col-lg-4">
                    <div class="social-title">Мы в социальных сетях</div>
                    <div class="social-icons row">
                        <div class="social-icon__item col-auto">
                            <a href="">
                                <svg class="social-icon__item-vk">
                                    <use href="#vk"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="social-icon__item col-auto">
                            <a href="">
                                <svg class="social-icon__item-instagram">
                                    <use href="#inst"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="install-mobile__item col-6 col-xl-6 col-lg-auto col-md-auto col-sm-auto">
                            <a class="install-mobile__item-googleplay" href="#">
                                <img src="images\googleplay.png" alt="">
                            </a>
                        </div>
                        <div class="install-mobile__item col-6 col-xl-6 col-lg-auto col-md-auto col-sm-auto">
                            <a class="install-mobile__item-appstore" href="#">
                                <img src="images\appstore.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="bottom-links row">
                <div class="col-2"></div>
                <div class="col-10">
                    <hr class="footer__separator">
                </div>
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-auto">
                            <a class="c-btn c-btn_style_default bottom-links_item" href="#">Соглашение об условиях доставки</a>
                        </div>
                        <div class="col-auto">
                            <a class="c-btn c-btn_style_default bottom-links_item" href="#">Политика обработки персональных данных</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>