
   
    <main class="c-main main_index">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <span>Франшиза</span>
                </li>
            </ul>
            <h1 class="c-title c-title_size_xl">Франшиза</h1>
            
            <div class="row">
                <div class="content-item col-12 col-lg-8 pb-2 pt-3">
                    <p>Предлагаем открыть собственную пиццерию Pizza express на условиях взаимовыгодного сотрудничества в Вашем городе. Содействуем в развитии Вашего бизнеса от подбора помещения до поставки продукции с собственного производства сети. <br><br>Став Партнером компании Вы получите налаженный механизм работы, сформировавшуюся клиентскую базу и набор готовых решений организации бизнеса. Мы стабильно растем и развиваемся, используя наработанный опыт и слаженную командную работу. <br><br>Pizza express 24 – это молодая, но динамично развивающаяся сеть пиццерий, основанная на принципах быстрого и качественного обслуживания и питания, работающая в модном формате take-away. Это формат заведений, специализирующихся на системе «готовые блюда на вынос».</p>
                </div>
                <div class="cards">
                    <div class="row">
                        <div class="cards__item col-12 col-lg-4" data-card-id="1">
                            <div class="card card_style_default">
                                <svg class="card__marker">
                                    <use href=#check></use>
                                </svg>
                                <div class="card-text">Наличие в компании собственного производства обеспечивает все подразделения сети свежим и качественным сырьем.</div>
                            </div>
                        </div>
                        <div class="cards__item col-12 col-lg-4" data-card-id="2">
                            <div class="card card_style_default">
                                <svg class="card__marker">
                                    <use href=#check></use>
                                </svg>
                                <div class="card-text">Залы с открытой кухней позволяют нам держать под контролем качество конечной продукции. Гости видят, кто, как и из чего готовит их заказ.</div>
                            </div>
                        </div>
                        <div class="cards__item col-12 col-lg-4" data-card-id="3">
                            <div class="card card_style_default">
                                <svg class="card__marker">
                                    <use href=#check></use>
                                </svg>
                                <div class="card-text">Благодаря созданной и отлаженной системе работы наши гости получают свой заказ за 5-7 минут.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-item col-12 pb-0">
                    <h2 class="c-title c-title_size_md">«Пиццерия под ключ» <span>от 2 млн рублей!</span></h2>
                    <p>В этот бюджет входит:</p>
                    <div class="cards">
                        <div class="row">
                            <div class="cards__item col-12 col-lg-6" data-card-id="1">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Подбор помещения по стандартам сети, аренда</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="2">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Ремонт помещения по нашему оригинальному дизайн-проекту</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="3">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Приобретение оборудования, его подключение и обслуживание</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="4">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Обучение Вас и Ваших ключевых сотрудников главным принципам и стандартам компании в филиалах сети</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="5">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Помощь в формировании штата</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="6">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Снабжение маркетинговыми материалами</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="7">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Запуск пиццерии</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="8">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Наставничество, консультации по всем вопросам, связанным с работой заведения</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="9">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Стабильную доставку продукции</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="10">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Продвижение на сайте и в соц.сетях</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="pt-2 pt-lg-3">Также вы получите</p>
                    <div class="cards">
                        <div class="row">
                            <div class="cards__item col-12 col-lg-6" data-card-id="1">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Широкий ассортимент блюд, технологии их приготовления, калькуляционные карты</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="2">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Эффективное программное обеспечение</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="3">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Полный пакет документации для осуществления деятельности</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="4">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Поддержку наших специалистов по вопросам, связанным с проверками контролирующих органов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-item col-12 pb-0">
                    <h2 class="c-title c-title_size_md">Требования к помещениям пиццерии<span></h2>
                    <div class="cards">
                        <div class="row">
                            <div class="cards__item col-12 col-lg-3" data-card-id="1">
                                <div class="card card_style_tertiary">
                                    <div class="card__thumb">
                                        <svg class="card__img">
                                            <use href=#house></use>
                                        </svg>
                                    </div>
                                    <div class="card-title">Помещение</div>
                                    <div class="card-text">Отдельно стоящее (не жилое) здание, 1- этаж, с парковочными местами и панорамными окнами</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-3" data-card-id="2">
                                <div class="card card_style_tertiary">
                                    <div class="card__thumb">
                                        <svg class="card__img">
                                            <use href=#arrow></use>
                                        </svg>
                                    </div>
                                    <div class="card-title">Площадь помещения</div>
                                    <div class="card-text">Площадь должна составлять от 70 до 150 кв. м.</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-3" data-card-id="3">
                                <div class="card card_style_tertiary">
                                    <div class="card__thumb">
                                        <svg class="card__img">
                                            <use href=#communications></use>
                                        </svg>
                                    </div>
                                    <div class="card-title">Коммуникации</div>
                                    <div class="card-text">Канализация, холодная вода, электрические мощности от 25-30 кВ</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-3" data-card-id="4">
                                <div class="card card_style_tertiary">
                                    <div class="card__thumb">
                                        <svg class="card__img">
                                            <use href=#traffic></use>
                                        </svg>
                                    </div>
                                    <div class="card-title">Трафик</div>
                                    <div class="card-text">Высокий пешеходный и автомобильный трафик</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="c-title c-title_size_sm pt-3">Помещение:</h3>
                    <div class="cards">
                        <div class="row">
                            <div class="cards__item col-12 col-lg-6" data-card-id="1">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Аренда до 150 т.р.</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="2">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">1-ый этаж</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="3">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Наличие парковочных мест</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="4">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Канализация, водоснабжение, эл.мощность 25-30 Вт</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="5">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Отдельно стоящее (не жилое) здание</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="6">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Витражные окна</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="7">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Площадь от 70 до 150 кв.м.</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="8">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Высокий пешеходный и автомобильный трафик</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="c-title c-title_size_sm pt-3">Дизайн и ремонт:</h3>
                    <div class="cards">
                        <div class="row">
                            <div class="cards__item col-12 col-lg-6" data-card-id="1">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Мы закупаем материал для наших пиццерий у проверенных годами поставщиков. Стоимость зависит от квадратуры помещения.</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="2">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Наши грамотные и опытные специалисты качественно и быстро проведут внутренний и внешний ремонт помещения.</div>
                                </div>
                            </div>
                            <div class="cards__item col-12 col-lg-6" data-card-id="">
                                <div class="card card_style_default">
                                    <svg class="card__marker">
                                        <use href=#check></use>
                                    </svg>
                                    <div class="card-text">Расчет стоимости внешней и внутренней отделки на помещение 70 кв.м.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-item col-12 pt-2 pb-0">
                    <table class="c-table">
                        <tr class="table__head-row">
                            <th class="table__head" colspan="2">Внутренняя отделка</th>
                        </tr>
                        <tr>
                            <td class="table__text">Материал: (пеноблок, гипсокартон, плитка, уголки и т.д.)</td>
                            <td class="table__price">150 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Стоимость работ по отделке</td>
                            <td class="table__price">70 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Сантехнические материалы</td>
                            <td class="table__price">30 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Фильтр для очистки воды</td>
                            <td class="table__price">15 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Сантехнические работы</td>
                            <td class="table__price">20 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Материалы электромонтажа</td>
                            <td class="table__price">50 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Работа по электромонтажу</td>
                            <td class="table__price">70 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Нержавеющая сталь для чистовой отделки помещения (витрина, стены)</td>
                            <td class="table__price">50 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Вытяжные зонты, двигатель на вытяжку</td>
                            <td class="table__price">50 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Витрина</td>
                            <td class="table__price">35 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Рекламные борды внутренние</td>
                            <td class="table__price">50 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Мебель для зала</td>
                            <td class="table__price">60 000 ₽</td>
                        </tr>
                        <tr class="table__head-row">
                            <th class="table__head" colspan="2">Внешняя отделка</th>
                        </tr>
                        <tr>
                            <td class="table__text">Вывеска</td>
                            <td class="table__price">25 000 ₽</td>
                        </tr>
                        <tr>
                            <td class="table__text">Маркизы, отделка фасада</td>
                            <td class="table__price">150 000 ₽</td>
                        </tr>
                    </table>
                </div>
                <div class="content-item col-12 pt-2 pb-6">
                    <table class="c-table">
                        <tr class="table__head-row">
                            <th class="table__head" colspan="3">Оборудование</th>
                        </tr>
                        <tr class="table__title">
                            <td class="table__title-item">Наименования</td>
                            <td class="table__title-item">Минимальная стоимость</td>
                            <td class="table__title-item">Максимальная стоимость</td>
                        </tr>
                        <tr>
                            <td class="table__text">Пицца-печь</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">50 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">400 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Аппарат для выпекания пончиков</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">48 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">130 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Robot Coupe</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">40 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">100 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Кофемашина автомат</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">50 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">150 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Фритюрное оборудование</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">120 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">600 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Морозильные лари и камеры</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">30 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">150 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Пицца-стол с холодильной камерой</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">—</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">150 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Столы (рабочие поверхности) с холод. и мороз. камерами</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">—</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">400 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Расстойки для пиццы</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">—</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">20 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Блендер</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">4 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">40 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Касса. Сенсорный монитор</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">35 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">—</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Фискальный регистратор</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">20 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">40 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Весы -2</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">5 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">15 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Посуда, мармиды, кухонная утварь</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">—</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">100 000 ₽</td>
                        </tr>
                        <tr class="table__title">
                        </tr>
                        <tr>
                            <td class="table__text">Диски для выпекания пиццы</td>
                            <td class="table__title-price">Минимальная стоимость</td>
                            <td class="table__cell-price">10 000 ₽</td>
                            <td class="table__title-price">Максимальная стоимость</td>
                            <td class="table__cell-price">50 000 ₽</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="c-banner c-banner_default c-banner_regular">
                <div class="row">
                <div class="c-banner__bg p-0">
                    <img src="~/images/bannerfr_lg.jpg" alt="" class="c-banner__img">
                </div>
                    
                    <div class="c-banner__order">
                        <div class="row">
                            <div class="banner__order_size col-12 col-lg-6">
                                <div class="c-banner__txt banner__txt_size_primary">
                                    Хотите открыть ресторан?<br>
                                    <span>Присоединяйтесь!</span>
                                </div>
                                <div class="c-banner__controls row">
                                    <div class="col-12 col-auto">
                                    <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_banner" data-bs-toggle="modal" data-bs-target="#exampleModal">Отправить заявку</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
    </main>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Оставтье заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex">
                <div class="col-6 ">
                    <p>Имя</p>
                    <p>Номер Телефона</p>
                </div>
                <div class=" col-6" style="display:grid;">
                    <input class="mb-3" value="Константин" />
                    <input class="mb-3" value="+7999999999" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn c-btn_color_primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Оставить заявку</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Спасибо за заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex">
                Спасибо, с вами свяжутся в течении ближайщих 3-ех рабочих дней.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Хорошо</button>
            </div>
        </div>
    </div>
</div>
