@using PizzaExpress.Models;
@model IEnumerable<Products>

@{
    ViewData["Title"] = "Home Page";
}

<main class="c-main main_index">
    <div class="container">
        <div class="c-banner c-banner_default c-banner_regular">
            <div class="row">
                <div class="c-banner__bg p-0">
                    <img src="~/images/banner_lg.jpg" alt="" class="c-banner__img">
                </div>
                <div class="c-banner__order">
                    
                    <div class="row">
                        <div class="banner__order_size col-12 col-lg-6">
                           
                           
                            <div class="c-banner__txt banner__txt_size">
                                3 средние пиццы<br>
                                <span>по цене 2х</span>
                            </div>
                            <div class="c-banner__controls row">
                                <div class="col-12 col-auto">
                                    <a href="#cards" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_banner">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @foreach (var Pizzas in Model)
        {
            <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="1">
                <a asp-controller="Home" asp-action="Index" asp-route-id="@Pizzas.Id" class="nav-link fs-3 text-center text-decoration-none">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="@Pizzas.ImgUrl" alt="">
                        </div>
                        <div class="catalog-item__title">@Pizzas.Name</div>
                       
                    </div>
                    </a>
                <div class="catalog-item__prices-block row">
                    <div class="catalog-item__prices col-12 col-lg-6 ">
                        <div class="catalog-item__cost">от 655 ₽</div>
                    </div>
                    <div class="catalog-item__controls col-12 col-lg-6">

                        <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            Выбрать
                        </button>

                    </div>

                </div>
                
            </div>
           
        }
        <div class="catalog-section" id="cards">
            <div class="row">
               
              
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="2">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Сицилия.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Сицилия</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="3">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Гавайская.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Гавайская</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="4">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Пепперони.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Пепперони</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="5">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Цезарь.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Цезарь</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="6">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Трюфельная.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Трюфельная</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="7">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Beyond.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Beyond</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal7">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="8">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Мясная.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Мясная</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="9">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Барбекю.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Барбекю</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal9">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="10">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Деревенская.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Деревенская</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal10">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="11">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Маргарита.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Маргарита</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal11">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="12">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Четыре сыра.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Четыре сыра</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal12">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="13">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Тунец.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца с Тунцом</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal13">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="14">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Чесночная.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Чесночная</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal14">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-section__item col-6 col-lg-3 col-sm-4" product-id="15">
                    <div class="catalog-item">
                        <div class="catalog-item__thumb">
                            <img class="catalog-item__img" src="/images/Жюльен.jpg" alt="">
                        </div>
                        <div class="catalog-item__title">Пицца Жюльен</div>
                        <div class="catalog-item__prices-block row">
                            <div class="catalog-item__prices col-12 col-lg-6 ">
                                <div class="catalog-item__cost">от 655 ₽</div>
                            </div>
                            <div class="catalog-item__controls col-12 col-lg-6">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-toggle="modal" data-bs-target="#exampleModal15">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</main>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="catalog-item">
                   
                        <img class="catalog-item__img position-relative" width="100%" src="/images/Хот-дог.jpg" alt="">
                 
                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                    <div class="catalog-item__prices-block row">

                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                        <div class="catalog-item__prices ">
                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="catalog-item">
                   
                   
                        
                    <div class="catalog-item__thumb" style="width:200px;">
                            <img class="catalog-item__img" src="/images/Сицилия.jpg" alt="">
                    </div>
                        <div class="catalog-item__title">Пицца Сицилия</div>
                    <div class="catalog-item__prices-block row">

                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                        <div class="catalog-item__prices ">
                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                        <img class="catalog-item__img" src="/images/Гавайская.jpg" alt="">
                                    </div>
                    <div class="catalog-item__title text-dark">Пицца Гавайская</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="catalog-item">
                                    <div class="catalog-item__thumb" style="width:200px;">
                                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                                    </div>
                                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                                    <div class="catalog-item__prices-block row">
                                        
                                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                                        <div class="catalog-item__prices ">
                                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="catalog-item">
                    <div class="catalog-item__thumb" style="width:200px;">
                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                    </div>
                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                    <div class="catalog-item__prices-block row">

                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                        <div class="catalog-item__prices ">
                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Состав пиццы</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="catalog-item">
                    <div class="catalog-item__thumb" style="width:200px;">
                        <img class="catalog-item__img" src="/images/Хот-дог.jpg" alt="">
                    </div>
                    <div class="catalog-item__title text-dark">Пицца Хот-дог</div>
                    <div class="catalog-item__prices-block row">

                        <p class="m-0">Состав: пицце-соус, сосиски, колбаски охотничьи, лук красный, огурчик маринованный, сыр моцарелла, кетчуп, горчица, жаренный лук Криспи. Вес: 730 гр.</p>
                        <div class="catalog-item__prices ">
                            <div class="catalog-item__cost text-dark">от 655 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="c-btn c-btn_style_default c-btn_color_tetriary c-btn_size_md_catalog c-btn_font_md_catalog" data-bs-dismiss="modal">закрыть</button>
                <button type="button" class="c-btn c-btn_style_default c-btn_color_primary c-btn_size_md_catalog c-btn_font_md_catalog">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>
         

