<main class="c-main main_index">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <span>Мои заказы</span>
            </li>
        </ul>
        <h1 class="c-title c-title_size_xl">Мои заказы</h1>
        <div class="row">
            <div class="content-item col-12 col-lg-6 pt-1 pb-0">
                <div class="orders-list" data-active="">
                    <div class="card-order" data-order-id="1">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_primary col-6">В доставке</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">1 480 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Хот-дог.jpg"></img>
                            <img class="card-order__img-item" src="images/Четыре сыра.jpg"></img>
                        </div>
                    </div>
                    <div class="card-order" data-order-id="2">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_default col-6">Доставлен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">2 120 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Пепперони.jpg"></img>
                            <img class="card-order__img-item" src="images/Тунец.jpg"></img>
                            <img class="card-order__img-item" src="images/Маргарита.jpg"></img>
                        </div>
                    </div>
                    <div class="card-order" data-order-id="3">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_default col-6">Доставлен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">1360 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Beyond.jpg"></img>
                            <img class="card-order__img-item" src="images/Деревенская.jpg"></img>
                        </div>
                    </div>
                    <div class="card-order" data-order-id="4">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_default col-6">Доставлен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">865 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Пепперони.jpg"></img>
                        </div>
                    </div>
                    <div class="card-order" data-order-id="5">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_secondary col-6">Отменен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">1480 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Пепперони.jpg"></img>
                            <img class="card-order__img-item" src="images/Тунец.jpg"></img>
                        </div>
                    </div>
                    <div class="card-order" data-order-id="6">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_default col-6">Доставлен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">2 120 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Пепперони.jpg">
                            <img class="card-order__img-item" src="images/Маргарита.jpg">
                            <img class="card-order__img-item" src="images/Beyond.jpg">
                        </div>
                    </div>
                    <div class="card-order" data-order-id="7">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_default col-6">Доставлен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">655 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Beyond.jpg">
                        </div>
                    </div>
                    <div class="card-order" data-order-id="8">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_default col-6">Доставлен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">1110 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Beyond.jpg">
                        </div>
                    </div>
                    <div class="card-order" data-order-id="9">
                        <div class="card-order__head row">
                            <div class="card-order__status-block col-lg-6">
                                <div class="row">
                                    <div class="card-order__title col-6">Заказ №25357</div>
                                    <div class="card-order__order-status card-order__order-status_default col-6">Доставлен</div>
                                </div>
                            </div>
                            <div class="card-order__prices-block col-lg-6">
                                <div class="card-order__price__item">1 480 ₽</div>
                            </div>
                        </div>
                        <div class="card-order__img">
                            <img class="card-order__img-item" src="images/Beyond.jpg">
                            <img class="card-order__img-item" src="images/Жюльен.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-item col-12 col-lg-6 pt-1 d-none d-lg-block">
                <div class="order-details" id="target-element"></div>
            </div>
            <div class="c-modal_style_default c-modal_style_primary c-modal_no_close c-modal_width_sm" id="modal-container">
                <div class="c-modal__body">
                </div>
            </div>
        </div>
        </div>
</main>