@{
    ViewData["Title"] = "О нас";
}
<h1>@ViewData["Title"]</h1>

<section>
	<div class="row ">
		<div class="content-item pt-0 col-12 col-lg-7 pb-3">
			<p>Pizza Express 24 - это достаточно молодая, но динамично развивающаяся сеть пиццерий, которая сочетает в себе формат быстрого и качественного питания, основанная на новых технологиях и высоком качестве продукции. </p>
			<p>Это кафе, где активное обслуживание не влияет на качество вкуса. Здесь одинаково комфортно себя чувствуют люди разных возрастов.</p>
				<img class="content__img" src="/testo_lg.jpg" alt="">
		</div>
		<div class="content-item pt-0 col-12 col-lg-8 pb-3">
			<h2 class="c-title c-title_size_md">Кухни для нас — <span>главное</span></h2>
			<p>В них воплощается весь наш опыт. Именно здесь профессиональные повара на современном производстве создают блюда, которые ежедневно заказывают тысячи людей. На каждой из наших кухонь работает более 100 человек и все они — фанаты своего дела.</p>
			<p>Мы тщательно отбираем поставщиков и продукты для каждого блюда. Все ингредиенты проходят этапы тестов и дегустаций, после чего ложатся в основу нового рецепта. После запуска мы внимательно следим за вашими отзывами и дорабатываем каждый продукт, чтобы он нравился всем.</p>
			<p>Ежедневно инспектор службы контроля проверяет каждую из наших кухонь на соответствие высоким стандартам качества и чистоты.</p>
				<img  class="content__img" src="/кухня_lg.jpg" alt="">
		</div>
		<div class="content-item pt-0 col-12 col-lg-8">
			<h2 class="c-title c-title_size_md">Лучшее тесто</h2>
			<p>Вкусная пицца начинается с правильного теста. Для того, чтобы обеспечить исключительный контроль над качеством теста, мы открыли собственное производство, на котором ежедневно производится свежее тесто для всех наших пиццерий.</p>
			<p>Мы замешиваем тесто только вручную раскатываем тонким слоем. Покрываем соусами по оригинальным рецептам и равномерно выкладываем начинку. Выпекаем пиццу в специальной конвейерной печи и следим за тем, чтобы она равномерно пропекалась со всех сторон. Каждый рецепт нашей пиццы — это выверенное сочетание теста, соуса, сыра и начинки.</p>
		</div>
	</div>
</section>