<main class="c-main main_index">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <span>Наши рестораны</span>
            </li>
        </ul>
        <h1 class="c-title c-title_size_xl">Наши рестораны</h1>
        <div class="c-map ">
            <img src="~/images/карта.jpg" />
        </div>
        </div>
</main>